<section class="experience-section" id="experience">
  <h2 class="experience-title fade-in">Experience</h2>

  <div class="timeline">

    <!-- Job 1 -->
    <div class="timeline-item fade-in">
      <div class="timeline-date">Jan 2025 – Present</div>
      <div class="timeline-location">Bengaluru,India</div>
      <div class="timeline-content">
        <h3>Senior Software Engineer – Deltek</h3>
        <ul>
          <li>
            <strong>Developed a custom AI model</strong> to generate code snippets, <strong>
              reducing
              development time by 40%
            </strong> and improving efficiency.
          </li>
          <li>
            <strong>Integrated NLP</strong> for intuitive user input, enhancing automation capabilities,
            <strong>increasing efficiency by 35%.</strong>
          </li>
          <li>
            Deployed the model within a web-based interface, enabling real-time
            interaction and boosting developer productivity by 30%.
          </li>
          <li>
            <strong>Optimized Terra Deployer</strong>, reducing human errors by 95% through
            automation and protocol compliance. Enhancing <strong>deployment efficiency by 60%.</strong>
          </li>
        </ul>
      </div>
    </div>

    <!-- Job 2 -->
    <div class="timeline-item fade-in">
      <div class="timeline-date">July 2023 – Dec 2024</div>
      <div class="timeline-location">Bengaluru,India</div>
      <div class="timeline-content">
        <h3>Software Engineer 2 – Deltek Replicon</h3>
        <ul>
          <li>
            Created an <strong>AI-powered Python documentation tool</strong>, reduced manual
            documentation <strong>efforts by 50%</strong>.
          </li>
          <li>
            <strong>Maintained coding standards</strong> to ensure <strong>efficient coding practices</strong>, which
            facilitated thorough code reviews and enhanced overall code quality, with
            <strong>performance increased by 45%</strong> with Documentation Tool.
          </li>
          <li>
            Automated extraction of function signatures and dependencies, ensuring <strong>
              99%
              accuracy and reducing errors by 100%
            </strong>.
          </li>
          <li>
            Led as <strong>SPOC (Single Point of Contact)</strong> for global customers including
            <strong>Wipro,NTT Data, Assured Partners, Capgemini, etc.,</strong> and successfully constructed
            and implemented effective solutions to manage user bases ranging from 2,000 to 200,000 users.
          </li>
          <li>
            Ensured scalability of 100% by leveraging best practices and technologies for
            seamless performance and user satisfaction
          </li>
          <li>
            <strong>Managed and optimized REST APIs</strong>, enhancing system performance and
            improving team frameworks for greater efficiency and timely project
            deliverables.
          </li>
        </ul>
      </div>
    </div>

    <div class="timeline-item fade-in">
      <div class="timeline-date"> May 2021 – Feb 2022</div>
      <div class="timeline-location">Bengaluru,India</div>
      <div class="timeline-content">
        <h3>Software Engineer – Deltek Replicon</h3>
      </div>
    </div>

    <div class="timeline-item fade-in">
      <div class="timeline-date"> May 2019 – July 2019</div>
      <div class="timeline-content">
        <h3>Summer Intern - Bharat Dynamics Limited</h3>
      </div>
    </div>

  </div>
</section>
